<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:si="http://www.springframework.org/schema/integration" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
            http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
            http://www.springframework.org/schema/integration
            http://www.springframework.org/schema/integration/spring-integration-1.0.xsd">

	<si:channel id="dinings" />

	<si:chain input-channel="dinings" output-channel="confirmations">
		<si:service-activator ref="alreadyRewardedConfirmer" />
		<si:service-activator ref="rewardNetwork" method="rewardAccountFor" />
	</si:chain>

	<bean id="alreadyRewardedConfirmer" class="rewards.messaging.AlreadyRewardedConfirmer">
		<constructor-arg ref="rewardRepository" />
		<constructor-arg ref="confirmationProcessor" />
	</bean>

	<si:gateway service-interface="rewards.messaging.ConfirmationProcessor"
		id="confirmationProcessor" default-request-channel="confirmations" />

	<si:channel id="confirmations">
		<si:queue capacity="10" />
	</si:channel>

</beans>
